/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f8f8f8;
  /* Cambia el color de fondo de la página */
  color: #333;
  /* Cambia el color del texto para que sea legible en el fondo */
  margin: 0;
  /* Elimina el margen predeterminado del cuerpo */
  padding: 0;
  /* Elimina el espacio de relleno predeterminado del cuerpo */
}

/* Estilos para el encabezado */
.navbar {
  background-color: #fff;
  /* Cambia el color de fondo de la barra de navegación */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  /* Agrega una sombra suave a la barra de navegación */
}

/* Estilos para el texto del párrafo */
p {
  margin: 20px;
  /* Márgenes alrededor del párrafo */
  padding: 20px;
  /* Espacio interno */
  text-align: justify;
  /* Justificar el texto */
  line-height: 1.6;
  /* Espaciado entre líneas */
  font-size: 18px;
  /* Tamaño del texto */
}

/* Estilo de énfasis utilizando clases de Bootstrap */
.emphasis {
  font-weight: bold;
  /* Texto en negrita */
  color: #ff6347;
  /* Color de énfasis (rojo de Bootstrap) */
  font-size: 20px;
  /* Tamaño de fuente ligeramente más grande */
}

/* Estilo para fuentes personalizadas */
.custom-font {
  font-family: 'DIN Condensed', sans-serif;
  /* Fuentes personalizadas */
}

/* Estilos para la galería de fotos */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 20px auto;
  /* Centra la galería en la página y agrega margen */
}

.image {
  width: 300px;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.image img {
  max-width: 100%;
  height: auto;
}