
.logo {
    width: 50%; 
    height: auto; 
}


/* nav bar */ 
.navbar-nav .nav-item .nav-link:hover {
    color: #ff6347ed;
}

/* footer */
footer {
    padding: 20px 0;
    background-color: #E7E6E6; 

footer a.text-black.fs-4 i {
    transition: color 0.3s ease; 
    color: #000; 
}

footer a.text-black.fs-4:hover i {
    color: #ff6347; 
}
