.logo {
    width: 50%;
    height: auto;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #ff6347ed;
}

footer {
    padding: 20px 0;
    background-color: #E7E6E6;
}

footer a.text-black.fs-4 i {
    transition: color 0.3s ease;
    color: #000;
}

footer a.text-black.fs-4:hover i {
    color: #ff6347;
}

.kidd {
    width: 200px;
    height: 200px;
    background: url(/img/niños.jpg);
    border-radius: 50%;
    float: left;
    shape-outside: circle();
    margin: 30px 30px 30px 0;

}

p {
    margin: 0;
    padding: 0;
    text-align: justify;
    line-height: 22px;
}